.tag {
  display: inline-block;
  padding: 0.25rem 0.625rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.4px;
}

.info {
  background-color: #ffdce0;
  color: #4d4d4d;
}
