.column {
  background-color: #f7f7f7;
  border-radius: 0.75rem;
  padding: 0.75rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.header {
  margin-bottom: 0.75rem;
}

.title {
  display: inline-block;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  color: #4d4d4d;
  background-color: #e1e4e8;
  border-radius: 1rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
