.card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
}

.avatars {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: #212121;
  margin: 0;
}

.description {
  font-size: 0.875rem;
  font-weight: 300;
  color: #5a5a65;
  margin: 0.5rem 0 0.5rem 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
